<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<h1>Cloud App | Locations</h1>
		<% for (var i = 0; i < zipList.length; i++) { %>
		<div>
			Zip Code: <a href="/locations/<%= zipList[i].id %>"><%= zipList[i].zip %></a>
			<br>
			Latitude: <%= zipList[i].lat %>
			<br>
			Longitude: <%= zipList[i].long %>
		</div>
		<% } %>
		<footer>
			<% include ../partials/footer %>
		</footer>
		
	</body>
</html>