<html>
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<h1>Cloud App | Location</h1>
		<div>
		Zip Code: <%= id.zip %>
			<ul>
				<li>Latitude: <%= id.lat %></li>
				<li>Longitude: <%= id.long %></li>
				<li>Cloud Cover:</li>
			</ul>

			<div><p id="cloud"><%= results.currently.cloudCover %></p></div>
		</div>
		<footer>
			<% include ../partials/footer %>
		</footer>
		<script src="/js/style.js"></script>
	</body>
</html>