<html>
	<head>
		<title>Fog App</title>
		
	</head>
	<body>
		<h1>Fog App | Location</h1>
		<div>
		Zip Code: <%= id.zip %>
			<ul>
				<li>Latitude: <%= id.lat %></li>
				<li>Longitude: <%= id.long %></li>
				<div id="cloud">
					<%= results.currently.cloudCover %>
				</div>
			</ul>
		</div>
		<script src="/js/style.js"></script>
	</body>
</html>