<html>
	<head>
		<title>Cloud App</title>
		<link rel="stylesheet" href="/css/style.css">
		
	</head>
	<body>
		<h1>Cloud App | Location</h1>
		<div>
		Zip Code: <%= id.zip %>
			<ul>
				<li>Latitude: <%= id.lat %></li>
				<li>Longitude: <%= id.long %></li>
				<li>Cloud Cover:</li>
			</ul>

			<div><p id="cloud"><%= results.currently.cloudCover %></p></div>
		</div>
		<script src="/js/style.js"></script>
	</body>
</html>