<html>
	<head>
		<title>Cloud App</title>
		
	</head>
	<body>
		<h1>Cloud App | New Location</h1>
		<form action="/locations" method="POST">
	        <input type="text" name="zip" placeholder="Zip Code">
	        <button type="submit">Submit</button>
    	</form>
		
	</body>
</html>