<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>What the Cloud?</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">