#cloud {
	text-align: center;
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

#cloud p {
	padding-top: 50px;
}

/*#fog {
	width: 200px;
	height: 200px;
	border-radius: 100%;
	background-color: grey;
}*/