body {
	font-family: Futura;
}

@media (max-width: 400px) {
	body {
		text-align: center;
		padding-left: 5%;
		padding-right: 5%;
	}

	/*form {
		margin-left: auto;
		margin-right: auto;
	}*/

	form input {
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;

	}

}