body {
	font-family: Futura;
	background-color: darkgrey
}

a {
	color: white;
}

body a:hover {
	color: grey;
	text-decoration: none;
}

/*body a:visited {
	color: white;
	text-decoration: none;
}*/

.contact {
	display: block;
}

header {
	background-color: white;

}

footer {
	background-color: white;
	color: black;
}

footer a {
	color: black;
}

/* MOBILE STYLES */

@media (max-width: 767px) {
	body {
		text-align: center;
	}

	#about {
		margin-left: 5%;
		margin-right: 5%;
	}

	/* Centering and spacing form inputs for mobile */
	form input {
		text-align: center;
		display: block;
		margin-top: 2%;
		margin-bottom: 2%;
		margin-left: auto;
		margin-right: auto;

	}

/* TABLET STYLES */
@media (min-width: 768px) {

	body {
		margin-left: 5%;
	}

	footer {
		text-align: left;
	}
}
