<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<h1>Contact</h1>
		<ul>
			<li><a href="mailto:jane.philipps@gmail.com">Email</a></li>
			<li><a href="https://twitter.com/janephilipps" target="_blank">Twitter</a></li>
			<li><a href="https://instagram.com/janephilipps/" target="_blank">Instagram</a></li>
		</ul>
		<footer>
			<% include ../partials/footer %>
		</footer>
		
	</body>
</html>