<html>
	<head>
		<title>Fog App | Index</title>
		
	</head>
	<body>
		<h1>Fog App</h1>
		<ul>
			<li><a href="/users/new">New User</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		
	</body>
</html>