<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<h1>Cloud App</h1>
		<ul>
			<li><a href="/users/new">New User</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
		<footer>
			<% include ../partials/footer %>
		</footer>
		
	</body>
</html>