<html>
	<head>
		<title>Fog App | Login</title>
		
	</head>
	<body>
		<h1>Fog App | Login</h1>
		<form action="/login" method="POST">
	        <input type="text" name="user[email]" placeholder="Email Address">
	        <input type="password" name="user[password]" placeholder="Password">
	        <button type="submit">Login</button>
    	</form>
	</body>
</html>