<html>
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<h1>Log In</h1>
		<form action="/login" method="POST">
	        <input type="text" name="user[email]" placeholder="Email Address">
	        <input type="password" name="user[password]" placeholder="Password">
	        <button type="submit">Log In</button>
    	</form>
    	<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>