<html>
	<head>
		<title>Fog App | Search</title>
		
	</head>
	<body>
		<h1>Fog App | Search Locations</h1>
		<form action="/search" method="GET">
	        <input type="text" name="q3" placeholder="Search">
	        <button type="submit">Search</button>
    	</form>
	</body>
</html>