<html>
	<head>
		<title>Fog App</title>
		
	</head>
	<body>
		<h1>Fog App | New User</h1>
		<form action="/users" method="POST">
	        <input type="text" name="email" placeholder="Email Address">
	        <input type="password" name="password" placeholder="Password">
	        <input type="text" name="zip" placeholder="Zip Code"> 
	        <button type="submit">Create Account</button>
    	</form>

	</body>
</html>